* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Atma', cursive;
	font-size: 20px;
	color: white;
}

h1 {
	
	font-size: 50px;
}

h1, h2 {
	font-family: 'Berkshire Swash', cursive;
	color: white;
	margin: 1rem;
}

h3, h4, h5 {
	color: #F1A208;
	font-weight: : bold;
}

.navbar, footer{
	/*background-color: #1E1014;*/
	background: linear-gradient(to top, rgba(50, 50, 50, 0), #0b090a);
	/*background-color: #0b090a;*/
	color: rgb(232, 234, 237);
/*	background-color: black;
	color: white;*/
	font-size: 20px;
}

li.nav-item:hover {
    background-color: #F1A208;
}



footer{
	/*background-color: #1E1014;*/
	background: linear-gradient(to bottom, rgba(50, 50, 50, 0), #0b090a);
	color: rgb(232, 234, 237);
/*	background-color: black;
	color: white;*/
	font-size: 20px;
}

.lead {
	color:white;
}

.jumbotron {
	background: transparent;
	margin-bottom: 0;
	padding: 0;
	/*background-color:  rgba(55, 63, 71, 0.5); #4f6d7a*/
}

#heading {
	margin: auto;
	text-align: center;
}

#landing-jumbo {
	height: 100vh;
	display: flex;
	justify-content: center;
	color: #0f0a0a;
	background: linear-gradient(to top, rgba(0, 0,0,0), black);
}

.card{
	background-color:  rgba(255,255,255, 0.10);
	color: white;
}

.btn {
	background-color: #1E1014;
	border-color: #1E1014;
	color: #F1A208;
}

.btn:hover {
	background-color: #F1A208;
	border-color: #1E1014;
	color: #1E1014;
}

footer{
	/*background-color: #1E1014;*/
	background: linear-gradient(to bottom, rgba(50, 50, 50, 0), #0b090a);
	color: rgb(232, 234, 237);
/*	background-color: black;
	color: white;*/
	font-size: 20px;
}

body {
	background: url('../images/bg.jpg') no-repeat fixed 100%;
	background-position: top;
	vertical-align: middle;
}

